ENV=dev
DATABASE__DEV_DSN=postgresql+asyncpg://postgres:postgres@localhost:5432/postgres
DATABASE__PROD_DSN=postgresql+asyncpg://postgres:postgres@localhost:5432/postgres
SECURITY__SECRET_KEY=VERY_SECret-KeY
SECURITY__ALGORITHM=HS256
DEFAULT_LIMIT=100