ENV=dev
DATABASE__DEV_DSN=postgresql+asyncpg://postgres:postgres@localhost:5432/postgres
DATABASE__PROD_DSN=postgresql+asyncpg://postgres:postgres@localhost:5432/postgres
REDIS__HOST=localhost
REDIS__PORT=6379
SECURITY__ALGORITHM=RS256
DEFAULT_LIMIT=100
WEBSOCKETS_LIMIT_PER_USER=20
SECURITY__ENCRYPTION_KEY=VerY-SECreT_kEY
